*.gem

##============================================================##
## Claude personal settings
##============================================================##
/.claude/settings.local.json

##============================================================##
## Rubymine
##============================================================##
.idea
.rubocop.yml
.run