*.gem
/coverage/*

##============================================================##
## macOS
##============================================================##
.DS_Store

##============================================================##
## Claude personal settings
##============================================================##
/.claude/settings.local.json

##============================================================##
## Rubymine
##============================================================##
.idea
.rubocop.yml
.run